nav {
    display: flex;
    width: 100%;
    height: auto;
    background-color: transparent;
    backdrop-filter: blur(2px);
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    position: fixed;
    z-index: 1;
    top: 0;
    flex-wrap: wrap;
}

ul {
    display: flex;
    gap: 1.5rem;
    font-size: 20px;
}

.logo,
.name {
    cursor: pointer;
}

ul li {
    cursor: pointer;
    transition: .2s;
    padding: 10px;
    border-radius: 5px;
    height: auto;
    width: auto;
}

ul li:hover {
    background-color: #fff;
    color: #000;
}

ul .contact:hover {
    background-color: var(--primary);
    color: #000;
}

.greeting {
    display: flex;
    gap: 2rem;
    align-items: center;
}

.name {
    font-size: 3rem;
    font-weight: 600;
    animation: pisca 10s infinite linear;
}

.logo {
    height: 70px;
    width: auto;
}

@keyframes pisca {
    0% {
        color: #fff;
    }

    50% {
        color: var(--primary);
    }

    100% {
        color: #fff;
    }

}